# Visual Studio
.vs/
*.user
*.suo
*.sln.ide
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Rider
.idea/

# Logs
*.log

# ASP.NET Core
wwwroot/lib/
